header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

    body {
       display: flex;
       min-height: 100vh;
       flex-direction: column;
     }

     main {
       flex: 1 0 auto;
     }


.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.card {
  padding: 20px;
}

.home-product {
  height: 100px !important;
  color: #000 !important;
}

.collection-item {
  display: flex !important;
  align-items: center !important;
}

.home-product img {
  top: 10px;
  position: absolute;
max-width: auto;
max-height: auto;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

#quantity_wrapper {
  margin-top: 20px;
}

.home-product .description {
  margin-left: 40px !important;
  font-size: 1.2em !important;

}

.home-product .part_number {
  margin-left: 40px !important;
  font-size: 1em;
}


#ready, #pending, #pickedup {
  padding: 20px;
  margin: 0 !important;
}


.cribtool_panel {
  background: #e2e4e6;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;

  width: 32% !important;
  margin-right: 1%;
}

.list-card {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  margin-bottom: 6px;
  max-width: 400px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  font-family: "Arial", sans-serif;
  color: #000;
  font-weight: 300;
  padding: 12px;
}
