<h5><b>TOOLCRIB</b></h5>
<div class="divider grey lighten-1 col s12" style="margin-left:-15px;"></div>
</br>

<div class="col s4 cribtool_panel">
  <span style="margin-top:18px;"><b>Approved and pending</b><i class="material-icons right">bookmark</i></span>
  <div class="divider grey lighten-1"></div>
  <div id="pending">

  </div>
</div>
<div class="col s4 cribtool_panel">
  <span style="margin-top:18px;"><b>Ready to pick up</b><i class="material-icons right">shopping_cart</i></span>
  <div class="divider grey lighten-1"></div>
  <div id="ready">

  </div>
</div>
<div class="col s4 cribtool_panel">
  <span style="margin-top:18px;"><b>Picked up</b><i class="material-icons right">check</i></span>
  <div class="divider grey lighten-1"></div>
  <div id="pickedup">

  </div>
</div>

<div id="toolcrib_dialog" class="modal">
  <div class="modal-content">
    <h5>Order Details</h5>
    <div class="divider"></div>
    <ul id="toolcrib_wrapper" class="collection" style="border: 1px solid #ededed">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </ul>
    <p class="center-align"><span class="col s4">Cost Center Name</span><span class="col s4">Approved by name</span><span class="col s4">Priority: Low</span></p>
    <p class="col s12">Additional Message: Text, Text, Text</p>
    <p class="col s6 left-align">Order By: Employee Name </br> Employee Number</p>
    <p class="col s6 right-align">Made: 5 minutes ago </br> Approved: 2 minutes ago</p>
    <div class="divider"></div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    <a id="confirm_toolcrib" class="modal-action waves-effect waves-green btn-flat blue-text">Aceptar</a>
  </div>
</div>

<script src="scripts/dragula.min.js"></script>
<script src="scripts/script_toolcrib.js"></script>
