<div class="card">
  <h5>Review your order details</h5>
  <div class="divider"></div>
  <ul id="cart_wrapper" class="collection" style="border: 1px solid #ededed">
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </ul>
  <div class="divider"></div>
  <div class="row nobottommargin">
    <div class="input-field col s12 l4">
      <select>
        <option value="" disabled selected>Choose your cost center</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
      <label>Cost Center</label>
    </div>
    <div class="input-field col s12 l4">
      <select>
        <option value="" disabled selected>Select your area manager</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
      <label>Area manager</label>
    </div>
    <div class="input-field col s12 l4">
      <select>
        <option value="" disabled selected>Select the priority</option>
        <option value="1">Low</option>
        <option value="2">Medium</option>
        <option value="3">High</option>
      </select>
      <label>Priority</label>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row nobottommargin">
    <div class="input-field col s12">
      <i class="material-icons prefix">mode_edit</i>
      <textarea id="icon_prefix2" class="materialize-textarea">&nbsp;</textarea>
      <label for="icon_prefix2">Additional information (Optional)</label>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row nobottommargin">
    <a class="col btn-large waves-effect waves-light green darken-1 s12 m4 offset-m8"><i class="material-icons left">done</i>Confirm order</a>
  </div>
</div>
<script src="scripts/script_cart.js"></script>
