<div class="card">
  <div class="row">
    <h5 style="margin: 20px">Look for a product</h5>
    <div class="divider"></div>
    <div class="input-field col s12">

      <i class="material-icons prefix">search</i>
      <input placeholder="Description or part number" id="search_product" type="text" class="validate">
      <label for="first_name">Search part</label>
    </div>
    <div class="divider"></div>
  </div>
  <ul id="products_wrapper" class="collection" style="border: 1px solid #ededed">
    <div class="progress">
      <div class="indeterminate"></div>
  </div>
  </ul>
</div>
<script src="scripts/script_home.js"></script>
