<div class="nobottommargin row">
  <div class="col s12 m12 l12">
    <div class="card hoverable">
      <div class="card-action">
        <h4><i class="fas fa-shopping-bag" style="font-size:1.3em;"></i>  Flex StockMT </h4>
        <div class="divider grey lighten-1"></div>
      </div>
      <div class="card-content">
        <div class="nobottommargin row">
          <div class="col s12 m5 l5">
            <h5>Material Request</h5>
            <div class="divider grey lighten-1"></div>
            <form class="col s12">
              <div class="row">
              </br>
                <div class="input-field col s12 ">
                  <input id="txtUserName" placeholder="" type="text" class="validate">
                  <label for="txtUserName" class="black-text">Employee Number *</label>
                </div>
                <div class="col s12">
                  <a id="btn_signIn" class="btn-large col s12 blue-grey darken-3"><i class="material-icons right">send</i>Access to the system</a>
                </div>
              </div>
            </form>
          </div>

          <div class="col s12 m1 l1 center">
            <div class="vertLine"></div>
            <style>.vertLine {
              border-left: 1px solid #BDBDBD;
              width: 1px;
              height: 580px;
              margin-left: 20px;
             }</style>
          </div>

          <div class="col s12 m6 l6">
            <h5>Ready to pick up</h5>
            <div class="divider grey lighten-1"></div>
          </br>

            <div class="card blue darken-4">
              <div class="card-content white-text">
                <p>1 item, 2 items, 4 items</p>
                <p>Comments, Comments, Comments</p>
                <p>Ready 10 minutes ago</p>
              </div>
              <div class="card-action white-text">
                <span><b>Name:</b> Employee Number</span>
                <a class="btn white black-text right" style="margin-top:-8px;">Collected</a>
              </div>
            </div>

            <div class="card blue darken-4">
              <div class="card-content white-text">
                <p>2 item, 6 items, 9 items</p>
                <p>Comments, Comments, Comments</p>
                <p>Ready 20 minutes ago</p>
              </div>
              <div class="card-action white-text">
                <span><b>Name:</b> Employee Number</span>
                <a class="btn white black-text right" style="margin-top:-8px;">Collected</a>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="scripts/script_login.js"></script>
