<footer class="page-footer grey">
  <div class="container">
    <div class="row">
      <div class="col s12 m3 l4 center">
        <img class="responsive-img" width="200" height="200" src="res/img/flexLogo.png">
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <div class="row">
      <div class="col s12 m0 l1"></div>
      <div class="col s12 m4 l5">© 2018 Copyright </div>
      <div class="col s12 m8 l6">
        <a class="white-text" href="#!">Link │</a>
        <a class="white-text" href="#!">Link │</a>
        <a class="white-text" href="#!">Link │</a>
        <a class="white-text" href="#!">Link │</a>
      </div>
    </div>
  </div>
  </div>
</footer>


<script type="text/javascript" src="scripts/script_footer.js"></script>
