<h5><b>TOOLCRIB</b></h5>
<div class="divider grey lighten-1 col s12" style="margin-left:-15px;"></div>
</br>

<div class="col s4 cribtool_panel">
  <span style="margin-top:18px;"><b>Approved and pending</b><i class="material-icons right">bookmark</i></span>
  <div class="divider grey lighten-1"></div>
  <div id="pending">
      <a href="#toolcrib_dialog" class="list-card js-member-droppable ui-droppable card blue-grey darken-2 modal-trigger">
        <div class="card-content white-text">
          <p><b>1 item, 2 items, 4 items</b></p>
          <span>10 minutes ago | </span>
          <span>Prority: low</span>
        </div>
        <div class="card-action white-text">
          <span><b>Name:</b> Employee Number</span>
        </div>
      </a>

      <a class="list-card js-member-droppable ui-droppable card blue-grey darken-2">
        <div class="card-content white-text">
          <p><b>1 item, 2 items, 4 items</b></p>
          <span>10 minutes ago | </span>
          <span>Prority: low</span>
        </div>
        <div class="card-action white-text">
          <span><b>Name:</b> Employee Number</span>
        </div>
      </a>

      <a class="list-card js-member-droppable ui-droppable card blue-grey darken-2">
        <div class="card-content white-text">
          <p><b>1 item, 2 items, 4 items</b></p>
          <span>10 minutes ago | </span>
          <span>Prority: low</span>
        </div>
        <div class="card-action white-text">
          <span><b>Name:</b> Employee Number</span>
        </div>
      </a>
  </div>
</div>
<div class="col s4 cribtool_panel">
  <span style="margin-top:18px;"><b>Ready to pick up</b><i class="material-icons right">shopping_cart</i></span>
  <div class="divider grey lighten-1"></div>
  <div id="ready">
      <a class="list-card js-member-droppable ui-droppable card blue darken-2" href="#">
        <div class="card-content white-text">
          <p><b>1 item, 2 items, 4 items</b></p>
          <span>Cost center | </span>
          <span>Approved by name</span>
        </div>
        <div class="card-action white-text">
          <span><b>Name:</b> Employee Number</span>
        </div>
      </a>
  </div>
</div>
<div class="col s4 cribtool_panel">
  <span style="margin-top:18px;"><b>Picked up</b><i class="material-icons right">check</i></span>
  <div class="divider grey lighten-1"></div>
  <div id="pickedup">
      <a class="list-card js-member-droppable ui-droppable card green darken-2" href="#">
        <div class="card-content white-text">
          <p><b>1 item, 2 items, 4 items</b></p>
          <span>Cost center | </span>
          <span>Approved by name</span>
        </div>
        <div class="card-action white-text">
          <span><b>Name:</b> Employee Number</span>
        </div>
      </a>

      <a class="list-card js-member-droppable ui-droppable card green darken-2" href="#">
        <div class="card-content white-text">
          <p><b>1 item, 2 items, 4 items</b></p>
          <span>Cost center | </span>
          <span>Approved by name</span>
        </div>
        <div class="card-action white-text">
          <span><b>Name:</b> Employee Number</span>
        </div>
      </a>
  </div>
</div>

<div id="toolcrib_dialog" class="modal">
  <div class="modal-content">
    <h4>Order Details</h4>
    <div class="divider grey lighten-1"></div>
    <ul class="collection">
   <li class="collection-item avatar">
     <img src="res/img/avatar.png" alt="" class="circle">
     <span>Product Name |   </span>
     <span>Part Name</span>
   </li>
 </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    <a id="confirm_toolcrib" class="modal-action waves-effect waves-green btn-flat red-text">Eliminar</a>
  </div>
</div>

<script src="scripts/dragula.min.js"></script>
<script src="scripts/script_toolcrib.js"></script>
