</br></br></br></br></br></br>
<div id="login_card" class="col s12 m6 l6 card hoverable">
  <div class="card-content">
    <p class="center-align"><img class="responsive-img" src="res/img/flexLogo.png" width="350"></img></p>
    <div class="divider"></div>
    <form id="login_form" action="">
</br>
      <div class="row">
        <div class="input-field col s12">
          <input id="eNumber" type="text" class="validate">
          <label for="eNumber">Employee Number</label>
        </div>
      </div>
  </div>
    <div class="card-action">
      <div class="nobottommargin row">
        <a type="submit" class="waves-effect waves-light btn-large blue darken-3 right"><i class="material-icons right">send</i>Sign In</a>
      </div>
    </div>
    </form>
</div>

<script src="scripts/script_login.js"></script>
