
<div>
  <nav>
    <div class="nav-wrapper  light-blue darken-4">
      <ul id="slide-out" class="side-nav fixed">
        <li>
          <div class="user-view">
            <div class="background">
              <img src="res/img/cover.jpg">
            </div>
            <a href="#"><img id="menu_user_picture" class="circle" src="res/img/avatar.png"></a>
            <a href="#"><span id="menu_user_name" class="white-text name">Alejandro Ríos</span></a>
            <a href="#"><span id="menu_user_email" class="white-text email">eng.alejandrorios@gmail.com</span></a>
          </div>
        </li>
        <li><a class="subheader">Categorías</a></li>
        <li><a href="#" class="waves-effect"><i class="material-icons">flip_to_front</i>Adhesives</a></li>
        <li><a href="#" class="waves-effect"><i class="material-icons">flip_to_front</i>Cleaning</a></li>
        <li><a href="#" class="waves-effect"><i class="material-icons">flip_to_front</i>Clothing</a></li>
        <li><a href="#" class="waves-effect"><i class="material-icons">flip_to_front</i>Components</a></li>

        <li><a href="#" class="waves-effect"><i class="material-icons">flip_to_front</i>Fluids</a></li>
        <li><a href="#" class="waves-effect"><i class="material-icons">flip_to_front</i>Lighting</a></li>
        <li><a href="#" class="waves-effect"><i class="material-icons">flip_to_front</i>Office</a></li>
        <li><a href="#" class="waves-effect"><i class="material-icons">flip_to_front</i>Spares</a></li>
        <li><a href="#" class="waves-effect"><i class="material-icons">flip_to_front</i>Tools</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader" class="waves-effect">Cuenta</a></li>
        <li><a href="login" class="waves-effect"><i class="material-icons">exit_to_app</i>Salir</a></li>


      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse hide-on-large"><i class="material-icons">menu</i></a>
      <a href="home" class="brand-logo"><div style="width: 260px; height: 56px; margin: 8px 4px; background-repeat: no-repeat; background-size: contain; background-position: center; background-image: url('res/img/stockmtlogo.png')"></div></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!--<li><div class="vertical-divider"></div></li>-->
        <li><a class="waves-effect" href="cart"><i class="material-icons left">shopping_cart</i>Confirmar orden<span id="cart_items_quantity" class="new badge blue" data-badge-caption="" style="margin-left: 20px;">0</span></a></li>
      </ul>
    </div>
  </nav>
</div>


<script src="scripts/script_menu.js"></script>
